	body{
	padding-top: 50px;
	font-family:'微软雅黑',cursive, Helvetica,Arial,sans-serif;
}
.header_box{
	background-color: rgb(40,60,150);
	border-color: rgb(40,80,150);
	border-radius: 15px;
	box-shadow: 10px 3px 20px rgb(110, 110, 110);
}

.nav-pills>li.active>a{
	background-color: rgb(60,80,180);
	color:white;
	border-radius: 15px;
	text-align: center;
	font-size: 1.7rem;
}
.coll_a>li>a{
	border-radius: 15px;
	color:  rgb(40,60,150);
	text-align: center;
	font-size: 1.7rem;
}
.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: rgb(80, 100, 220);
	color:white;
}
.coll_a>li>a:focus, .coll_a>li>a:hover{
	background-color: rgb(182, 182, 182);
}


@media screen and (min-width:992px){
	#logo{
		margin-left: 3rem;
		width: 150px;
		float: left;
	}
	.title_user{
		display: block;
		float: right;
		margin-right: 1rem;
	}
	.title_user>li>a{
		color: white;
		font-size: 1.8rem;
		border-radius: 15px;
		opacity: 0.9;
	}
	.title_user>li>a:focus, .title_user>li>a:hover{
		background-color:rgb(60,80,180);
	}
	.menu-wrap{
		width: 15%;
		height: 100%;
		background-color: rgb(240,240,240);
		float: left;
		position: fixed;
		box-shadow: 10px 3px 20px rgb(220,220,220);

	}
	.menu{
		padding: 3em 1em 0;
	}
	.menu-button, .close-button, .morph-shape{
		display: none;
	}
	.content-wrap{
		float: left;
		margin-left: 15%;
	}
}

@media screen and (max-width:992px){
	#logo{
		text-align: center;
	}
	.title_user{
		display: none;
	}
	html, 
	body, 
	.container, 
	.content-wrap {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	/* .container {
		background: #373a47;
	} */

	.content-wrap {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		-webkit-transition: -webkit-transform 0.4s;
		transition: transform 0.4s;
	}

	.content {
		position: relative;
	}

	.content::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.3);
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
		transition: opacity 0.4s, transform 0s 0.4s;
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}

	/* Menu Button */
	.menu-button {
		position: fixed;
		z-index: 1000;
		margin: 1em;
		padding: 0;
		width: 2.5em;
		height: 2.25em;
		border: none;
		text-indent: 2.5em;
		color: transparent;
		background: transparent;
	}

	.menu-button::before {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		bottom: 0.5em;
		left: 0.5em;
		background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
		content: '';
	}

	.menu-button:hover {
		opacity: 0.6;
	}

	/* Close Button */
	.close-button {
		width: 16px;
		height: 16px;
		position: absolute;
		right: 1em;
		top: 1em;
		overflow: hidden;
		text-indent: 16px;
		border: none;
		z-index: 1001;
		background: transparent;
		color: transparent;
	}

	.close-button::before,
	.close-button::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		left: 50%;
		background: #888;
	}

	.close-button::before {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.close-button::after {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	/* Menu */
	.menu-wrap {
		position: absolute;
		z-index: 1001;
		width: 200px;
		height: 100%;
		-webkit-transform: translate3d(-280px,0,0);
		transform: translate3d(-280px,0,0);
		-webkit-transition: -webkit-transform 0.4s;
		transition: transform 0.4s;
	}

	.menu {
		position: relative;
		z-index: 1000;
		padding: 3em 1em 0;
	}

	.menu,
	.close-button {
		opacity: 0;
		-webkit-transform: translate3d(-160px,0,0);
		transform: translate3d(-160px,0,0);
		-webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
		transition: opacity 0s 0.3s, transform 0s 0.3s;
		-webkit-transition-timing-function: cubic-bezier(.17,.67,.1,1.27);
		transition-timing-function: cubic-bezier(.17,.67,.1,1.27);
	}

	/* Morph Shape */
	.morph-shape {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		fill:rgb(240,240,240); /*侧边栏背景色*/
	}

	/* Shown menu */
	.show-menu .menu-wrap,
	.show-menu .content::before {
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	.show-menu .menu-wrap,
	.show-menu .menu,
	.show-menu .close-button,
	.show-menu .morph-shape,
	.show-menu .content::before {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	.show-menu .menu,
	.show-menu .close-button {
		opacity: 1;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transition-delay: 0.4s;
		transition-delay: 0.4s;
	}

	.show-menu .content::before {
		opacity: 1;
		-webkit-transition: opacity 0.4s;
		transition: opacity 0.4s;
	}

	button:focus {
		outline: none;
	}
}