body{
    background: fixed url("../IMG/login_bg.png");
}
#login_box{
    box-shadow: 10px 3px 40px #484343;
    background-color: white;
    opacity: 0.85;
    width: 50%;
    height: 450px;
    right: 50%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}
img{
    width: 27%;
    height: 450px;
    float: left;
}
#title{
    text-align: center;
    margin-bottom: 6rem;
}
#login_form{
    width: 73%;
    float: left;
    padding: 4rem 0;
}
#tip{
    display: none;
    position: relative;
    color: red;
}
#reset_password{
    text-decoration: none;
    position: relative;
    float: right;
}
#label{
    position: relative;
}
#btn_login{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}