.main{
    margin-right: 15%;
}
.oper-box{
    display: flex;
    float: right;
}
.search-box{
    margin-left: 2rem;
}
@media(min-width: 750px){
    .page-title{
        display: inline;
    }
}
@media(max-width: 750px){
    .page-title{
        display: block;
    }
}
/* tab */
.tab-box{
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #d7d7d7;
}
.a-tab{
    color:  rgb(40,60,150);
    float: left;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 1.8rem;
    line-height: 3.5rem;
    padding: 0 5%;
}
.a-tab-active{
    border-bottom: 2px solid rgb(40,60,150);
    margin-bottom: -2px;
}
/* table */
.table-responsive{
    overflow-x: auto;
}
.table>tbody>tr>td{
    text-align: center;
}
th{
    text-align: center;
}
.tr-selected{
    background-color:  rgb(185, 195, 210);
}
.tr-selected:hover{
    background-color:  rgb(212, 218, 228) !important;
}
.checkbox{
    margin: 0 !important;
    zoom: 1.1;
    margin-right: -10px !important;
}
.remove-icon{
    color: rgb(255, 100, 100);
    zoom: 1.2;
}
.remove-icon:hover{
    color: rgb(255, 30, 30);
    cursor: pointer;
}