.attr{
    display: inline;
    margin-left: 2rem;
}
.table-box{
    text-align: center;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
th{
    text-align: center;
}
.act-btn{
    margin-right: 2px;
}
.InfoModal-main{
    padding-left: 20%;
}
@media(min-width: 750px){
    .page-title{
        display: inline;
    }
}
@media(max-width: 750px){
    .page-title{
        display: block;
    }
}
.setPageDiv{
    text-align: center;
}

/* 悬浮按钮 */
.dangling-box{
    position: fixed;
    bottom: 3rem;
    right: 2%;
    display: block;
    z-index: 101;
    width: 55px;
}
.dangling-icon{
    cursor: pointer;
    margin: 0.5rem 0;
    color: rgb(160, 160, 160);
    zoom: 2.8;
}
.dangling-icon:hover{
    color: rgb(196, 196, 196);
}