.attr{
    display: inline;
    margin-left: 2rem;
}
.table-box{
    text-align: center;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
th{
    text-align: center;
}
.act-btn{
    margin-right: 2px;
}
.InfoModal-main{
    padding-left: 20%;
}
@media(min-width: 750px){
    .page-title{
        display: inline;
    }
}
@media(max-width: 750px){
    .page-title{
        display: block;
    }
}
.setPageDiv{
    text-align: center;
}