@media (min-width: 300px) {
    .login-box{
        width: 75%;
        height: 390px;
    }
    .login-left-logo{
        float: top;
        width: 100%;
        display: none;
    }
    .login-top-logo{
        float: top;
        width: 50%;
        margin: -15% 25% -15% 25%;
    }
    .login-form{
        width: 100%;
        float:top;
        z-index: 3;
    }
    #title{
        text-align: center;
        position: relative;
        height: 20%;
        margin: 0 0 2rem 0;
        font-size: 5vmin;
    }
    
}
@media(max-width: 768px){
    #getNum{
        margin-top: 12px;
        float: right;
        margin-right: 15px;
    }
}
@media (min-width: 768px) {
    .login-box {
        width: 550px;
        height: 370px;
    }
    .login-left-logo{
        width: 27%;
        float: left;
        height: 100%;
        display: inline;
    }
    .login-top-logo{
        display: none;
    }
    .login-form{
        width: 73%;
        float: left;
        padding: 8% 1% 8% 1%;
        height: 100%;
    }
    #title{
        text-align: center;
        position: relative;
        height: 18%;
        margin: 0 0 0 0;
        font-size: 4vmin;
    }
}
@media (min-width: 992px) {
    .login-box{
        width: 700px;
        height: 450px;
    }
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.login-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -o-background-size: cover;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width:1000px;
    z-index: -5;
}
.login-box{
    box-shadow: 10px 3px 40px #484343;
    background-color: white;
    opacity: 0.85;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    margin-top: -225px;
}

.login-input-box{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 70%;
    width: 100%;
}

#tip, #_tip{
    display: none;
    position: relative;
    color: red;
    text-align: center;
}
#reset_password{
    text-decoration: none;
    position: relative;
    float: right;
}
.checkbox-label{
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
}
#resetPassword{
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
}
.login-tip-box{
    position: relative;
    height: 1.5vmin;
    text-align: center;
    margin-bottom: 28px;
}
#loginBtn, #registerBtn{
    margin-top: 1rem;
    width: 100%;
    position: relative;
}
