.attr{
    display: inline;
    margin-left: 2rem;
}
.table-box{
    text-align: center;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
th{
    text-align: center;
}
.act-btn{
    margin-right: 2px;
}
.InfoModal-main{
    padding-left: 20%;
}
@media(min-width: 750px){
    .page-title{
        display: inline;
    }
}
@media(max-width: 750px){
    .page-title{
        display: block;
    }
}
.setPageDiv{
    text-align: center;
}

/* 悬浮按钮 */
.dangling-box{
    position: fixed;
    bottom: 3rem;
    right: 2%;
    display: block;
    z-index: 101;
    width: 55px;
}
.dangling-icon{
    cursor: pointer;
    margin: 0.5rem 0;
    color: rgb(160, 160, 160);
    zoom: 2.8;
}
.dangling-icon:hover{
    color: rgb(196, 196, 196);
}



/* 筛选框 */
.a-filterby{
    position: relative;
    height: 3rem;
    float: left;
    cursor: pointer;
    padding-top: 5px;
    font-size: 1.7rem;
}
.a-icon{
    margin: 0 0.5rem;
    color: rgb(40,60,150);
}
.title-filter{
    cursor: default;
    color: rgb(40,60,150);
    font-weight: bold;
}
.filter-input-box{
    display: none;
    position: relative;
    float: left;
    height: 3rem;
}
.filter-box-sticky{
    padding: 1rem;
    height: 5rem;
    border-radius: 10px;
    background-color: rgba(210, 210, 210, 0.9);
    position: fixed;
    top: 55px;
}

