<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.school.fms.dao.FixtureDao">

    <resultMap id="FixtureDefineMap" type="FixtureDefine">
        <id property="id" column="id"/>
        <result property="workCell" column="workcell"/>
        <result property="family" column="family"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="model" column="model"/>
        <result property="partNo" column="partno"/>
        <result property="usedFor" column="usedFor"/>
        <result property="upl" column="upl"/>
        <result property="owner" column="owner"/>
        <result property="pmPeriod" column="pmPeriod"/>
        <result property="recOn" column="recOn"/>
        <result property="recBy" column="recBy"/>
        <result property="editOn" column="editOn"/>
        <result property="editBy" column="editBy"/>
    </resultMap>

    <select id="addOneFixtureDefine" parameterType="com.school.fms.entity.FixtureDefine">
        insert into fixture_define(workcell, family, code, name, model, partno, usedfor, upl, owner, pmperiod,
                                   recOn, recBy, editOn, editBy)
        values (#{fixtureDefine.workCell}, #{fixtureDefine.family}, #{fixtureDefine.code}, #{fixtureDefine.name},
                #{fixtureDefine.model}, #{fixtureDefine.partNo}, #{fixtureDefine.usedFor}, #{fixtureDefine.upl},
                #{fixtureDefine.owner}, #{fixtureDefine.pmPeriod}, #{fixtureDefine.recOn}, #{fixtureDefine.recBy},
                #{fixtureDefine.editOn}, #{fixtureDefine.editBy})
    </select>

    <select id="addFixtureDefines" parameterType="com.school.fms.entity.FixtureDefine">
        insert into fixture_define(workcell, family, code, name, model, partno, usedfor, upl,owner, pmperiod ,
        recOn, recBy, editOn, editBy)
        values
        <foreach collection="fixtureDefineList" item="fixtureDefine" separator=",">
            (#{fixtureDefine.workCell},#{fixtureDefine.family},#{fixtureDefine.code},#{fixtureDefine.name},
            #{fixtureDefine.model},#{fixtureDefine.partNo},#{fixtureDefine.usedFor},#{fixtureDefine.upl},
            #{fixtureDefine.owner}, #{fixtureDefine.pmPeriod},#{fixtureDefine.recOn},#{fixtureDefine.recBy},
            #{fixtureDefine.editOn},#{fixtureDefine.editBy})
        </foreach>
    </select>

    <select id="addOneFixtureEntity" parameterType="com.school.fms.entity.FixtureEntity">
        insert into fixture_entity(code, seqid, billno, regDate, usedCount, location, status)
        values (#{fixtureEntity.code}, #{fixtureEntity.seqId}, #{fixtureEntity.billNo}, #{fixtureEntity.regDate},
                #{fixtureEntity.usedCount}, #{fixtureEntity.location}, #{fixtureEntity.status})
    </select>
    <select id="queryDefines" resultType="com.school.fms.entity.FixtureDefine">
        select *
        from fixture_define
        where 1=1
        <if test="code!=null and code!=''">and code = #{code}</if>
        <if test="name!=null and name!=''">and name = #{name}</if>
        <if test="family!=null and family!=''">and family =#{family}</if>
        <if test="model!=null and model!=''">and model = #{model}</if>
        ORDER BY id
    </select>

    <select id="queryEntities" resultType="com.school.fms.entity.FixtureEntity">
        select * from fixture_entity where 1=1
        <if test="code!=null and code!=''">and code = #{code}</if>
        <if test="seqid!=null and seqid!=''">and seqid = #{seqid}</if>
        <if test="status!=null">and status = #{status}</if>
    </select>

    <select id="queryDefineDetail" resultType="com.school.fms.entity.FixtureDefine">
        select *
        from fixture_define
        where code = #{code}
        LIMIT 1
    </select>
    <select id="queryWaitSubmit" resultType="com.school.fms.vo.WaitSubmitVo">
        select fe.code, fe.seqid, fd.name
        from fixture_entity fe
                 left join fixture_define fd on fe.code = fd.code
        where fe.status = #{status}
    </select>

    <update id="updateStatus">
        update fixture_entity
        set status=#{status}
        WHERE code = #{code}
          AND seqid = #{seqid}
    </update>
</mapper>